* { box-sizing: border-box; }

body {
    background: url(/assets/ui/screens/launch.png) no-repeat 0 0;
    background-color: #000;
    background-size: contain;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body.game {
    background-image: url(/assets/ui/screens/game.jpg);
    background-size: auto 100%;
}

p {
    text-align: center;
    color: white;
}

#ui {
    position: absolute;
    top: 0px;
    left: 0px;
}

#game {
    margin: auto;
}
